@charset "ISO-8859-1";
p{
	color: black;
}
a{
	color: #808000;
	font-size: 15px;
}
h1{
	color: #408080;
	font-size:50px;
}
h2{
	font-size: 30px;
}
footer{
	font-size:15px;
	color: black;
}