@charset "ISO-8859-1";
p{
	color: rgb(44, 44, 44);
}
a{
	color: rgb(128, 64, 64);
	font-size: 15px;
}
h1{
	color: black;
	font-size:50px;
	font-style:bold;
	align-items: center;
	display: flex;
    justify-content: center;
}
body{
	background-color:#95a3a8;
}
h2{
	font-size: 30px;
	color: #254949;
}
footer{
	font-size:15px;
	color: black;
}