@charset "ISO-8859-1";

p{
	color:white;
}
li{
	color: rgb(255, 255, 255);
	font-size: 19px;
}
a{
	color: white;
}
label{
	color: white;
}
tr{
	color: white;
}
h1{
	color: #ffffff;
	font-size:50px;
	font-style:bold;
	align-items: center;
	display: flex;
    justify-content: center;
}
body{
	background-color:#363636;
	margin: 10px;
}
h2{
	font-size: 40px;
	color: white;
}
footer{
	font-size:17px;
	align-items: center;
	display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 30px;
}
