<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">INICIO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BENEFICIOS Y BECAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACTANOS</a>
        </li>
      </ul>
      <span class="navbar-text">
        DISFRUTA DE NUESTROS SERVICIOS!!
      </span>
    </div>
  </div>
</nav>
</header>
			
		
	</body>
</html>