<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
         <a class="nav-link" th:href="@{/pdc/inicio}">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pdc/agenda}">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pdc/beneficios_becas}">BENEFICIOS Y BECAS</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/pdc/contactanos}">CONTACTANOS</a>
        </li>
        <li class="nav-item">
        <div class="btn-group">
        <button class="btn btn-dark  btn-lg dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">DATOS</button>
        <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" th:href="@{/Datos/Docente}">Docentes</a></li>
                <li><a class="dropdown-item" href="#">Alumnos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Becas</a></li>
                <li><a class="dropdown-item" href="#">Cursos</a></li>
        </ul>
        </div>
    
         </li>   
      </ul>
      
      <span class="navbar-text">
        DISFRUTA DE NUESTROS SERVICIOS!!
      </span>
    </div>
     
  </div>
  
</nav>
</header>
			
		
	</body>
</html>