<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PORTAL DE CAPACITACION</title>
</head>
<body>

<header>
<h1> AGENDA </h1>
<img alt= "imagen de calendario" src= "../static/images/fotocalend.jpg" title="calendario"/>
</header>

<nav>
  <ul>
  <li><a href="index.html">INICIO</a></li>
   <li><a href="agenda.html">AGENDA</a></li>
   <li><a href="beneficios.html">BENEFICIOS Y BECAS</a></li>
   <li><a href="contacto.html">CONTACTANOS</a></li>
  </ul>
</nav>
<section>
<p> Esta seccion contiene informacion sobre la agenda de la pagina web. <br>
Una agenda es un libro o cuaderno donde se apuntan, para no olvidarlas, las cosas que se han de hacer en determinadas fechas; <br> 
generalmente sus hojas llevan impresos los días del año ordenados por meses y por semanas con un espacio para escribir. <br>
Esta agenda permite que los alumnos puedan ordenar sus horarios de los cursos que elige realizar.</p>
</section>
<video src="../static/videos/Portal.mp4"  height="400" controls></video>
<footer>
<p>2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica Argentina.</p>
</footer>

</body>
</html>