<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PORTAL DE CAPACITACION</title>
</head>
<body>
	<h1>BENEFICIOS Y BECAS</h1>
	<img alt="imagen de beca" src="../static/images/BECA.jpg" title="beneficios">
<nav>
  <ul>
	  <li><a href="index.html">INICIO</a></li>
	  <li><a href="agenda.html">AGENDA</a></li>
	  <li><a href="beneficios.html">BENEFICIOS Y BECAS</a></li>
	  <li><a href="contacto.html">CONTACTANOS</a></li>
  </ul>
</nav>
<section>
	<p>pagina en construccion</p>
</section>
	<footer>2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica Argentina</footer>
</body>

</html>