<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PORTAL DE CAPACITACION</title>
</head>
<body>
	<header>
		<h1>CONTACTANOS</h1>
		<img alt="CONTACTO" src="../static/images/CONTACTO.jpg">
		
	</header>
	
	<ul>
		<li><a href="index.html">INICIO</a></li>
		<li><a href="agenda.html">AGENDA</a></li>
		<li><a href="beneficios.html">BENEFICIO Y BECAS</a></li>
		<li><a href="contacto.html">CONTACTANOS</a></li>
	</ul>
	<form action="">
		<label>Nombre y Apellido: </label>
		<input id="idapellido" type="text">
		<br/>
		<label>Provincia:</label>
		<select name="provincia">
			<option value="JUJUY">JUJUY</option>
			<option value="SALTA">SALTA</option>
			<option value="TUCUMAN">TUCUMAN</option>
			<option value="CORDOBA">CORDOBA</option>
		</select>
		<br>
		<label>Telefono:</label>
		<input id="idtelefono" type="number">
		<br/>
		<label>Correo electronico</label>
		<input id="idcorreo" type="email">
		<br/>
		<label>Estado Civil</label>
		<br>
		<input id=idcasado type="radio" value="casado" name="tipoestado">
		<label for="idcasado">Casado</label>
		<br/>
		<input id=idsoltero type="radio" value="soltero" name="tipoestado">
		<label for="idsoltero">Soltero</label>
		<br/>
		<input id=idotro type="radio" value="otro" name="tipoestado">
		<label for="idotro">Otro</label>
		<br/>
		<label>mensaje</label>
		<input id="idmensaje" type="text">
		<br/>
		
		<button type="submit">ENVIAR</button>
	</form>
		<footer>2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica Argentina</footer>
	
</body>
</html>