<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>EDICION ALUMNO</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	<header th:replace="/Layouts/header :: header"></header>
	<div class="container col-4">
		<br>
		<p class="h4">EDICION ALUMNO</p>
		<br>
		
		<form th:action="@{/alumno/modificar}" method="POST" th:object="${alumno}">
			<div class="mb-3">
			<input type="hidden" th:field="*{dni}"/>
				<label for=dniId>DNI</label>
				<input th:value="${dni}" type="number" class="form-control" id="dniId" disabled="disabled">
			</div>
			<div class="mb-3">
				<label for="nombresId" class="form-label">NOMBRES</label>
				<input th:field="*{nombre}" type="text" class=form-control id="nombresId">
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			<div class="mb-3">
				<label for="apellidoId" class="form-label">APELLIDOS</label>
				<input th:field="*{apellido}" type="text" class=form-control id="apellidoId">
				<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
			</div>
			<div class="mb-3">
				<label for="emailId" class="form-label">EMAIL</label>
				<input th:field="*{email}" type="email" class=form-control id="emailId">
				<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="mb-3">
				<label for="telefonosId" class="form-label">TELEFONO</label>
				<input th:field="*{telefono}" type="number" class=form-control id="telefonoIds">
				<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
			</div>
			<div class="row mb-3">
    <label for="inputCurso3" class="col-sm-2 col-form-label">Curso</label>
    <div class="col-sm-10">
      <select th:field="*{curso.codigo}" class="form-control" id="inputCurso3" >
		<option th:each="c:${listaCursos}" th:value="${c.codigo}" th:text="${c.titulo}" />
	  </select>
	  <div class="text-danger" th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}"></div>
    </div>
  </div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button class="btn btn-primary me-md-2" type="submit">EDITAR</button>
				<a th:href="@{/inicio}" id="cancel" class="btn btn-secondary">CANCELAR</a>
			</div>
		</form>
	</div>
</body>
</html>>