<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
		<title>INICIO</title>
	</head>
	<body>
		<header th:replace="/layouts/header::header">asasa</header>
	    <h1> BIENVENIDOS</h1>
	    <img src= "images/images.png" class="img-fluid" alt="imagen de inicio" title="Titulo">
	    
<section> 
  <h2> Cursos con inscripcion abierta</h2>
  <ol>
  <li><a href="idiomas.html">IDIOMAS.</a></li>
  <li><a href="diseño.html">DISEÑO.</a></li>
  <li><a href="desarrollo.html">DESARROLLO.</a></li>
  <li><a href="marketing.html">MARKETING.</a></li>
  <li><a href="conferencias.html">CONFERENCIAS.</a></li>
  </ol>
</section>
	    
	    
	   <footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>