<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PORTAL DE CAPACITACION</title>
</head>

<body>

<header>
<h1> INICIO </h1>
<img alt="imagen de inicio" src= "..\static\images\images.jpg" height="300" title="Titulo"/>
</header>

<nav>
  <ul>
   <li><a href="index.html">INICIO</a></li>
   <li><a href="agenda.html">AGENDA</a></li>
   <li><a href="beneficios.html">BENEFICIOS Y BECAS</a></li>
   <li><a href="contacto.html">CONTACTANOS</a></li>
  </ul>
</nav>

<section> 
  <h2> Cursos con inscripcion abierta</h2>
  <ol>
  <li><a href="idiomas.html">IDIOMAS.</a></li>
  <li><a href="diseño.html">DISEÑO.</a></li>
  <li><a href="desarrollo.html">DESARROLLO.</a></li>
  <li><a href="marketing.html">MARKETING.</a></li>
  <li><a href="conferencias.html">CONFERENCIAS.</a></li>
  </ol>
</section>

<footer>
<p> 2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica Argentina. </p>
</footer>
</body>
</html>