<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>PORTAL DE CAPACITACION</title>
</head>
<body>
<header>
<h1> Curso: MARKETING </h1>
<img alt="imagen de marketing"src="../static/images/marketing.jpg" height="400" title="marketing" />
</header>

<nav>
  <ul>
  <li><a href="index.html">Inicio</a></li>
  <li><a href="agenda.html">Agenda</a></li>
  <li><a href="beneficios.html">Beneficios y becas</a></li>
  <li><a href="contacto.html">Contactanos</a></li>
  </ul>
</nav>

<section>
<h2> Informacion sobre el curso</h2>
<p> El marketing es un conjunto de técnicas y estudios que tienen como objetivo mejorar la comercialización de un producto.</p>
<table>
 <tr>
    <th> Titulo de Curso</th>
    <th> fecha inicio</th>
    <th> horario</th>
    <th> fecha fin</th>
    <th> modalidad (virtual/presencial)</th>
    <th> docente</th>
    <th> duracion en semanas</th>
 </tr>
 <tr>
    <td> Marketing</td>
    <td> 12/03/22</td>
    <td> 18:30</td>
    <td> 12/06/22</td>
    <td>   Virtual</td>
    <td> Paez Jose</td>
    <td> 13 semanas</td>
 </tr>
</table>
</section>

</body>
</html>