<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="ISO-8859-1">
<title>Nuevo Docente</title>
</head>
<body>
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
<div class="col-md-5 ">
 <h2>Alta de Docente</h2>
 <form th:action="@{/docente/guardarDocente}" th:object="${docente}" th:method="POST"> 
  <div class="row mb-3">
    <label for="inputLegajo3" class="col-sm-2 col-form-label">Legajo</label>
    <div class="col-sm-10">
      <input type="number" th:field="*{legajo}" class="form-control" id="inputLegajo3">
      <div class="text-danger" th:if="${#fields.hasErrors('legajo')}" th:errors="*{legajo}"></div>
      
    </div>
  </div>
 	<div class="row mb-3">
	    <label for="inputNombres3" class="col-sm-2 col-form-label">Nombres</label>
	    <div class="col-sm-10">
	      <input type="text" th:field="*{nombre}" class="form-control" id="inputNombres3">
	      <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
	    </div>
  	</div>
  <div class="row mb-3">
    <label for="inputApellidos3" class="col-sm-2 col-form-label">Apellidos</label>
    <div class="col-sm-10">
      <input type="text"  th:field="*{apellido}" class="form-control" id="inputApellidos3">
      <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
    </div>
  </div>  
 <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email"  th:field="*{email}" class="form-control" id="inputEmail3">
      <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputTelefono3" class="col-sm-2 col-form-label">Telefono</label>
    <div class="col-sm-10">
      <input type="tel" th:field="*{telefono}" class="form-control" id="inputTelefono3">
      <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
    </div>
  </div>
   <button type="submit" class="btn btn-primary">Enviar</button>
   <a th:href="@{/pdc/inicio}" class="btn btn-primary" role="button" data-bs-toggle="button">Cancelar</a>
 </form> 
</div>
</div>
</div>
</body>
</html>